@font-face {
  font-family: 'MyFont';
  src: url('/src/assets/fonts/Roboto-Regular.woff2') format('woff2'),
  url('/src/assets/fonts/Roboto-Regular.woff') format('woff'),
  url('/src/assets/fonts/Roboto-Regular.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}